
<table>
  <thead>
      <tr>
          <th>OrderID</th>
          <th>CustID</th>
          <th>ProdID</th>
          <th>OrderDate</th>
          <th>Quantity</th>
          <th>ShipDate</th>
          <th>ShipMode</th>
      </tr>
  </thead>
  <tbody>
    <tr *ngFor="let Order of orders">
      <td>{{Order.orderID}}</td>
      <td>{{Order.orderDate}}</td>
      <td>{{Order.quantity}}</td>
      <td>{{Order.shipDate}}</td>
      <td>{{Order.custID}}</td>
      <td>{{Order.prodID}}</td>
      <td>{{Order.shipMode}}</td>
  </tr>
</tbody>
</table>
<div class="delete-order">
  <h2>Delete Order</h2>
  <label></label>
  <select #orderSelect (change)="onChange(orderSelect.value)" [(ngModel)]="deleteOrderID">
      <option *ngFor="let order of orders" [value]="order.orderID">{{order.orderID}}</option>
  </select>
  <br>
  <br>
  <button (click)="deleteOrder()">delete</button><span *ngIf="deletingOrder"></span>
<div class="create-order">
  <h2>add an order</h2>
  <label>Customer </label>
  <select #custSelect (change)="onChange(custSelect.value)" [(ngModel)]="createCustID">
      <option *ngFor="let customer of customers" [value]="customer.custID">{{customer.fullName}}</option>
  </select>
  <br>
  <br>
  <label>Product </label>
  <select #prodSelect (change)="onChange(prodSelect.value)" [(ngModel)]="createProdID">
      <option *ngFor="let prod of products" [value]="prod.prodID">{{prod.prodID}} - {{prod.description}}</option>
  </select>
  <br>
  <br>
  <label>Order Date </label>
  <input type="date" [(ngModel)]="createOrderDate">
  <br>
  <br>
  <label>Ship Date </label>
  <input type="date" [(ngModel)]="createShipDate">
  <br>
  <br>
  <label>Quantity </label>
  <input type="number" min=1 [(ngModel)]="createQuantity">
  <br>
  <br>
  <label>Shipping </label>
  <select #shipSelect (change)="shippingChange(shipSelect.value)" [(ngModel)]="createShipMode">
      <option *ngFor="let ship of shipMode" [value]="ship">{{ship}}</option>
  </select>
  <br>
  <br>
  <button (click)="createOrder()">Create Order</button>
  <!-- <button (click)="deleteOrder()">deleteOrder</button> -->

</div>

